header
{
    background-color: mediumblue;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: whitesmoke;
}
.form-input
{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 80%;
    padding: 30px;
    border-radius: 20px;
}
.form-content
{
    margin-top: 80px;
}
.timer-con
{
    margin-top: 100px;
}
.routine-status
{
    padding: 25px;
    margin-left: 140px;
}